// Color Variables
$color--primary:#333283;
$color--secondary:#76C5F0;
$color--tertiary:#FF8C35;
$color--add1:#F2F5FA;
$color--background-grey:#E4E4E4;
$color--grey-2 :#cdcdcd;

// Basic Grey's
$color--black:#000;
$color--white:#fff;
$color--grey:#777;
$grey-color-1: #ecececfa;
$grey-color-2: rgb(192, 192, 192);
$grey-color-3: #333;
