body::-webkit-scrollbar{
    display: none;
  }
.main-container{
    background-color: $color--background-grey;
}

// Icon styles
.icons-container{
    height: 100vh;
    margin-top: 5%;
    padding: 0% !important;
   
}
.dashboard_icon{
    border-right: 3px solid $color--primary;
}
.dashboard_container_main{
    margin-top: -3%;
}
.content-container{
    position: relative;
    width: 98%;
    background-color: white; 
    border-radius: 50px;
    height: 90vh;
    margin-top: 5%;
    &_main{
        padding-top: 3%;
        width: 90%;
        // background-color: blue;

        &_dashboard-head{
            width: 100%;
            border-bottom: 0.5px solid $color--background-grey;

            &_text{
                color: $color--primary;
            }
        }
        
    }

}



.dashboard_container{
    &_first{
        // background-color: blue;

        &_profile-Initial{
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 10px $color--grey-2 solid;
            background-color: $color--primary;

            &-letter{
                font-size: 150px;
                font-weight: lighter;
                position: absolute;
                bottom: -30px;
                color: $color--grey-2;
            }
        }
    }

    &_second{
        // background-color:yellow;
        padding-top: 100px;

        &_container{
            background-color: #F2F5FA;
            width: 100%;
            height: 45%;
            border-radius: 20px;
        }

        &_empty{
            // background-color: blue;
            width: 100%;
            height: 15%;
        }

        &_jobs{
            width: 100%;
            height: 40%;
            // background-color: green;
        }
    }
    &_third{
        // background-color: red;
        // padding-top: 100p;

        &_empty{
            width: 100%;
            height: 15%;
            // background-color: beige;
        }
        &_recently_completed_jobs{
            background-color: #F2F5FA;
            width: 100%;
            height: 20%;
            border-radius: 20px;

            &_contained_content{
                float: right;
                &_text{
                    color: $color--primary;
                    font-size: 100%;
                    border-bottom: 0.5px solid $color--grey-2;
                }
                &_value{
                    color: $color--grey;
                }
            }
            
            &_contained_icon{
                position: absolute !important;
                top: 45%;
                left: 50%;
                transform: translate(-50% , -50%);
            }
            &_contained_icon-container{
                position: relative;
                top: 50px;
                left: 30px;
                background-color: $color--primary;
                width: 50px;
                height: 40px;
                border-radius: 10px;
            }
        }

        &_teams{
            background-color: #F2F5FA;
            width: 100%;
            height: 60%;
            border-radius: 20px;
            margin-top: 20px;
            padding-top: 30px;
            overflow: auto;
            box-sizing: border-box;

            &_head{
                color: $color--primary;
            }
            
            &_list{
                border-top: $color--grey-2 solid 1px;
               margin-left: -40px;
            }

            &_items{
                padding-top: 20px;
                padding-left: 20px;

                &_content{
                    font-size: 150%;
                    color: $color--primary;


                    &_listing{
                        list-style-type: none;
                    }
                }
            }
            &_icon{
                position: absolute !important;
                top: 45%;
                left: 50%;
                transform: translate(-50% , -50%);
            }
            &_container{
                position: relative;
                background-color: $color--primary;
                width: 80px;
                height: 70px;
                border-radius: 15px;
                // margin-top: 70px;
                
            }
        }
    }
}
// Overdue Jobs Mini screens
.jobs{
    // background-color:red;
    width: 100% !important;
    margin-top: 12px;

    &_overdue{
        position: relative !important;
        background-color: #F2F5FA;
        width: 47%;
        height: 250px;
        border-radius: 20px;
        
        &_contained_text-down{
            padding-top: 30px !important;
            padding-left: 80px;
            color: $color--primary;

        }
        &_text{
            position: relative;
            

            &_counter_jobs{
                color: $color--primary;
                font-size: 150%;
                border-right: 2px solid $color--grey-2;

            }
            &_counter_hours{
                color: $color--primary;
                font-size: 150%;

            }
    
        }
        
        &_icon_container{
            position: relative;
            border-radius: 20px;
            background-color: $color--primary;
            width: 40%;
            height: 80px; 
            &_icon{
                position: absolute !important;
                top: 45%;
                left: 50%;
                transform: translate(-50% , -50%);
            }
        }
        }

    &_empty{
        width: 6%;
        height: 200px;
    }

    &_dueToday{
        background-color: #F2F5FA; 
        width: 47%;
        float: right;     
        height: 250px;
        border-radius: 20px;
    }
}
.reduce-padding{
    margin-left: -30px !important;
}

.btn-text{
    color: #FFffff;
}

.staff{
    color: $color--primary;
}
.profile_picture{
    position: absolute;
    right: 130px;
    top: 40px;
    background-color: $color--primary;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    &_letter{
        position: relative;
        top: 5%;
        left: 15%;
        color: white;
        font-size: 180%;
    }
}



// New Styles

.dashboard{
    width: 100%;
    height: 100%;
    box-sizing:  border-box;

    &_head{
        width: 100%;
        height: 20%;
        // overflow: auto;

        &_message_p{
            width: 30%;
            border-bottom: 3px solid $color--grey-2;
        }

        &_text{
            color: $color--primary;
            border-bottom: 3px solid $color--grey-2;
        }
    }
    &_body{
        width: 100%;
        height: 80%;
        overflow: auto;
        padding: 0 !important;
        margin: 0 !important;
        // padding: 0;
        &_1{
            height: 100%;
            width: 33%;
            overflow: auto;
            &_1{
                width: 100%;
                height: 40%;
                // overflow: auto;
            }
            &_2{
                width: 100%;
                height: 15%;
            }
            &_3{
                width: 100%;
                height: 45%;
                // overflow: auto;
                &_first{
                    width: 48.5%;
                    height: 100%;
                    border-radius: 1em;
                    background-color: #F2F5FA;

                    &_head{
                        width: 100%;
                        height: 30%;
                    }
                    &_body{
                        width: 100%;
                        height: 70%;
                        overflow: scroll;
                    }

                }
                &_secondOne{
                    width: 3%;
                    height: 100%;
                }
                &_thirdOne{
                    width: 48.5%;
                    height: 100%;
                    border-radius: 1em;
                    background-color: #F2F5FA;
                }
            }
        }
        &_2{
            height: 100%;
            width: 33%;
            overflow: auto;

            &_1{
                position: relative;
                width: 100%;
                height: 48%;
                background-color: #F2F5FA;
                border-radius: 1em;  

                &_pieChat{
                    position: absolute !important;
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &_2{
                width: 100%;
                height: 7%;
            }
            &_3{
                width: 100%;
                height: 45%;

                &_first{
                    width: 48.5%;
                    height: 100%;
                    border-radius: 1em;
                    background-color: #F2F5FA;
                }
                
                &_secondOne{
                    width: 3%;
                    height: 100%;
                }
                
                &_thirdOne{
                    width: 48.5%;
                    height: 100%;
                    border-radius: 1em;
                    background-color: #F2F5FA;
                }
            }

        }
        &_3{
            width: 30.51%;
            height: 100%;
            &_first{
                width: 100%;
                height: 25%;
                background-color: #F2F5FA;
                border-radius: 1em;
            }
            &_second{
                width: 100%;
                height: 5%;
            }
            &_third{
                width: 100%;
                height: 70%;
                background-color: #F2F5FA;
                border-radius: 1em;
                overflow-y: scroll;
            }

            &_third::-webkit-scrollbar{
                width: 0.5em;
            }
            &_third::-webkit-scrollbar-track{
                background: #f1f1f1;
            }
            &_third::-webkit-scrollbar-thumb{
                border-radius: 1em;
                background: $color--grey-2;
            }
            &_third::-webkit-scrollbar-hover{
              background: $color--grey; 
            }
        }
        &_4{
            width: 0.5%;
            height: 100%;
        }
        &_5{
            width: 0.5%;
            height: 100%;
        }
    }
}

.text{
    color: blue     ;
}


.color{
    color: $color--primary;
}


// New Heading Styles
.circle{
    position: relative;
    border-radius: 100%;
    border: 5px $color--grey-2 solid;
    background-color: $color--primary;
    width: 9em !important;
    height: 7em !important;

    &_inner_letter{
        color: $color--grey-2;
        font-size: 4rem;
        position: absolute !important;
        top: 45%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
}

.admin{
    &_head{
        color: $color--primary;
        font-size: 150%;
    }
}


// Jobs Styling
.jobs_icon_container{
    position: relative;
    width: 5rem;
    height: 4rem;
    background-color: $color--primary;

    &_icon{
        position: absolute !important;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}

.recent_jobs{
    width: 3rem;
    height: 2rem;
    border-radius: 0.5em;
}

.dashboard_body_3_first_body{
    height: 70%;
    overflow: auto !important;
}
// Scroll Recently Completed Jobs

.dashboard_body_3_first_body::-webkit-scrollbar{
    width: 0.5em;
}

.dashboard_body_3_first_body::-webkit-scrollbar-track{
    background: #f1f1f1;
}
.dashboard_body_3_first_body::-webkit-scrollbar-thumb{
    border-radius: 1em;
    background: $color--grey-2;
}
.dashboard_body_3_first_body::-webkit-scrollbar-hover{
    background: $color--grey;
}

.top_container{
    width: 2rem !important;
}

// Scroll Recently Completed Jobs

.icon_container{
    position: relative;
    background-color: $color--primary;
    width: 5rem;
    height: 4rem;
    border-radius: 1em;

    &_icon{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


// scrollbar -y
.scroll{
    overflow-y: scroll;
}
.scroll::-webkit-scrollbar{
    width: 0.5em;
}
.scroll::-webkit-scrollbar-track{
    background: #f1f1f1;
}
.scroll::-webkit-scrollbar-thumb{
    border-radius: 1em;
    background: $color--grey-2;
}
.scroll::-webkit-scrollbar-thumb:hover{
    background: $color--grey;
}
// Scroll Bar

.small_edge{
    border-radius: 1em;
}